<nav class-collapsed="collapsed">
    <ul>
        <li class-selected="selected == 'home'">
            <a href="/">
                <svg>
                    <use xlink:href="/img/light.svg#home"></use>
                </svg>
                {{ #if !collapsed }}<span>Home</span>{{ /if }}
            </a>
        </li>
        <li class-selected="selected == 'secrets'">
            <a href="/secrets">
                <svg>
                    <use xlink:href="/img/light.svg#lock-alt"></use>
                </svg>
                {{ #if !collapsed }}<span>Secrets</span>{{ /if }}
            </a>
        </li>
        <li on-click="flex">
            {{ #collapsed }}
            <svg>
                <use xlink:href="/img/light.svg#angle-double-right"></use>
            </svg>
            {{ else }}
            <svg>
                <use xlink:href="/img/light.svg#angle-double-left"></use>
            </svg>
            {{ / }}
        </li>
    </ul>
</nav>
<div class="view"></div>
