<nav class-collapsed="collapsed">
    <ul>
        <li class-selected="selected == 'home'">
            <a href="/">
                <icon icon="home" />
                {{ #if !collapsed }}<span>{{{ translations.fill.home }}}</span>{{ /if }}
            </a>
        </li>
        <li class-selected="selected == 'secrets'">
            <a href="/secrets">
                <icon icon="lock-alt" />
                {{ #if !collapsed }}<span>{{{ translations.fill.secrets }}}</span>{{ /if }}
            </a>
        </li>
        <li class-selected="selected == 'login'">
            <a href="/login">
                <icon icon="sign-in" />
                {{ #if !collapsed }}<span>{{{ translations.fill.login }}}</span>{{ /if }}
            </a>
        </li>
        <li on-click="flex">
            {{ #collapsed }}
            <icon icon="angle-double-right" />
            {{ else }}
            <icon icon="angle-double-left" />
            {{ / }}
        </li>
    </ul>
</nav>
<div class="view"></div>
