<h1>{{{ translations.titles.main }}}</h1>
<section>
    <div class="secret">
        <h3>
            <div class="decorators">
                <icon icon="lock" />
            </div>
            secret/foo
        </h3>
        <div class="content">
            <div class="json">
                <code>{
                    "data": "hello"
                }</code>
            </div>
        </div>
    </div>
    <div class="secret">
        <h3>
            <div class="decorators">
                <icon icon="book" />
            </div>
            secret/keys/
        </h3>
        <div class="content">
            <div class="list">
                <ul>
                    <li>
                        <a href="#">
                            <icon icon="book" />hello/
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <icon icon="lock" />stuff
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <icon icon="lock" />things
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <icon icon="book" />more/
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="secret">
        <h3>
            <div class="decorators">
                <icon icon="lock" />
            </div>
            secret/keys/stuff
        </h3>
        <div class="content">
            <div class="json">
                <code>{
                    "data": "stuff"
                }</code>
            </div>
        </div>
    </div>
    <div class="secret">
        <h3>
            <div class="decorators">
                <icon icon="lock" />
            </div>
            secret/keys/things
        </h3>
        <div class="content">
            <div class="json">
                <code>{
                    "data": "things"
                }</code>
            </div>
        </div>
    </div>
    <div class="secret">
        <h3>
            <div class="decorators">
                <icon icon="book" />
            </div>
            secret/keys/hello/
        </h3>
        <div class="content">
            <div class="list">
                <ul>
                    <li>
                        <a href="#">
                            <icon icon="lock" />there
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="secret">
        <h3>
            <div class="decorators">
                <icon icon="book" />
            </div>
            secret/keys/more/
        </h3>
        <div class="content">
            <div class="list">
                <ul>
                    <li>
                        <a href="#">
                            <icon icon="lock" />friend
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="secret">
        <h3>
            <div class="decorators">
                <icon icon="lock" />
            </div>
            secret/keys/hello/there
        </h3>
        <div class="content">
            <div class="json">
                <code>{
                    "data": "there"
                }</code>
            </div>
        </div>
    </div>
    <div class="secret">
        <h3>
            <div class="decorators">
                <icon icon="lock" />
            </div>
            secret/keys/more/friend
        </h3>
        <div class="content">
            <div class="json">
                <code>{
                    "data": "friend"
                }</code>
            </div>
        </div>
    </div>
</section>
