<h1>{{{ translations.titles.main }}}</h1>
<div class="controls">
    <label>
        <input type="checkbox" checked="{{ visible }}" />
        Unhide All Secrets
    </label>
</div>
<section>
    {{ #secrets.secret }}
    <div class="secret">
        <h3>
            <div class="decorators">
                <icon icon="{{ .data.keys ? 'database' : 'lock' }}" />
            </div>
            secret/{{{ .path }}}
        </h3>
        <div class="content">
            {{ #if .data.keys }}
            <div class="list">
                <ul>
                    {{ #.data.keys }}
                    <li>
                        <a href="#">
                            <icon icon="{{ ..slice( -1 ) == '/' ? 'database' : 'lock' }}" />{{{ . }}}
                        </a>
                    </li>
                    {{ / }}
                </ul>
            </div>
            {{ else }}
            <div class="json" class-visible="visible">
                <code>{{{ JSON.stringify( .data, null, 4 ) }}}</code>
            </div>
            {{ /if }}
        </div>
    </div>
    {{ / }}
</section>
