:root{
    /* SIZES */
    --base-size: 10px;

    /* COLORS */
    --main: rgba( 117, 88, 53, 1 );
    --brightest: rgba( 255, 255, 255, 1 );

    --struts: rgba( 69, 47, 4, 1 );

    /* VFX */
    --main-shadow: 5px 5px 5px rgba( 204, 204, 204, 1 );
}
