:root{
    /* SIZES */
    --size-base: 10px;
    --size-radius-small: 2px;
    --size-radius-main: 5px;
    --size-main: 0.5rem;
    --size-big: 1rem;
    --size-extra: 1.5rem;
    --size-super: 2rem;

    /* COLORS */
    --color-main: rgba( 117, 88, 53, 1 );
    --color-brightest: rgba( 255, 255, 255, 1 );

    --color-struts: rgba( 69, 47, 4, 1 );
    --color-subtle: rgba( 163, 155, 139, 1 );
    --color-super-subtle: rgba( 163, 155, 139, 0.20 );

    /* VFX */
    --vfx-main-shadow: 5px 5px 5px rgba( 204, 204, 204, 1 );
    --vfx-small-shadow: 2px 2px 2px rgba( 204, 204, 204, 1 );
    --vfx-tiny-shadow: 1px 1px 1px rgba( 204, 204, 204, 1 );
}
