html{
    font-family: "Source Sans Pro", sans-serif;
    font-size: var( --base-size );
    height: 100%;
    line-height: calc( 1.5 * var( --base-size ) );
}

body{
    display: grid;
    font-size: 1.6rem;
    grid-gap: 1rem;
    grid-template-columns: max-content 1fr;
    height: 100%;
    line-height: 2.2rem;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

button{
    background-color: var( --super-subtle );
    border: 1px solid var( --subtle );
    border-radius: var( --small-radius );
    margin: 0;
    padding: var( --main-size ) var( --big-size );
}

h1{
    font-size: calc( 2 * var( --super-size ) );
}

h2{
    font-size: calc( 1.5 * var( --super-size ) );
}

h3{
    font-size: var( --super-size );
}

h4{
    font-size: var( --extra-size );
}

h5{
    font-size: var( --big-size );
}

h6{
    font-size: calc( 0.75 * var( --big-size ) );
}
