form{
    border: 1px solid var( --color-super-subtle );
    border-radius: var( --size-radius-main );
    box-shadow: var( --vfx-tiny-shadow );
    margin: var( --size-big ) auto;
    max-width: 50rem;
    padding: var( --size-super );
}

input,
select,
textarea{
    border: 1px solid var( --color-super-subtle );
    border-bottom: 1px solid var( --color-subtle );
    margin: 0;
    padding: var( --size-main );
}

form .field{
    width: 100%;
}

form .field + .field{
    margin-top: var( --size-super );
}

form .field label{
    font-size: 1.2em;
    width: 100%;
}

form .field input,
form .field select,
form .field textarea{
    width: calc( 100% - 2 * var( --size-main ) - 2px );
}

field.focus input,
input:focus,
field.focus select,
select:focus,
field.focus textarea,
textarea:focus{
    border: 1px solid var( --color-subtle );
}

form > .controls{
    margin-top: var( --size-big );
    text-align: right;
}
