/* Nav bar */
body > nav{
    --item-height: 6rem;
    --item-closed-width: 6rem;
    --item-padding: var( --size-super );

    box-shadow: var( --vfx-main-shadow );
    width: 100%;
}

body > nav.collapsed{
    width: var( --item-closed-width );
}

body > nav ul{
    height: 100%;
    position: relative;
}

body > nav li{
    height: var( --item-height );
    line-height: 2rem;
}

body > nav li + li{
    border-top: 1px solid var( --color-struts );
}

body > nav li:nth-last-child( 2 ){
    border-bottom: 1px solid var( --color-struts );
}

body > nav li:last-of-type{
    bottom: 0;
    cursor: pointer;
    height: 2rem;
    left: 0;
    padding: var( --item-padding );
    position: absolute;
    text-align: center;
    width: calc( 100% - 2 * var( --item-padding ) );
}

body > nav li:last-of-type svg{
    margin: auto;
}

body > nav li.selected{
    background-color: var( --color-main);
    color: var( --color-brightest );
}

body > nav li.selected + li{
    border-top: 1px solid var( --color-main);
}

body > nav li.selected svg{
    fill: var( --color-brightest );
}

body > nav li a{
    color: inherit;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 2rem 1fr;
    padding: var( --item-padding );
    text-decoration: none;
}

body > nav li svg.svg-inline--fa{
    height: 2rem;
    width: 2rem;
}
/* END Nav bar */
